{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Produto List{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}
{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    <h1>Produto List</h1>
    <a href="{% url 'produto_new' %}">Novo Produto</a>
    <br>
    <br>

    {% if erro %}
        <div>
            {{ menssagem_erro }}
        </div>
    {% endif %}

    {% if succes %}
        <div>
            {{ menssagem_succes }}
        </div>
    {% endif %}
    
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Valor Unitário</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.valor_unid }}</td>
                    <td><a href="{% url 'produto_dell' produto.id %}">Deletar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}