{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Produto List{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}
{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}


    <nav class="navbar navbar-expand-lg navbar-light bg-warning center-text">
        <a class="icon-back-top" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <span class="navbar-title">Produtos</span>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12">

                {% if erro %}
                    <div>
                        {{ menssagem_erro }}
                    </div>
                {% endif %}

                {% if succes %}
                    <div>
                        {{ menssagem_succes }}
                    </div>
                {% endif %}

                <!-- a href="{% url 'produto_new' %}" class="btn btn-primary btn-lg btn-block"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar Produto</a -->

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col">Valor Unitário</th>
                            <th scope="col" class="text-center"><a href="{% url 'produto_new' %}"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in produtos %}
                            <tr>
                                <td>{{ produto.descricao }}</td>
                                <td>{{ produto.valor_unid }}</td>
                                <td class="text-center">
                                    <a class="icons-tbl-produtos" href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a class="icons-tbl-produtos" href="{% url 'produto_dell' produto.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>



            </div>
        </div>
    </div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}
