{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Relatórios{% endblock %}
{% block navbar %}Relatórios{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}
{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card border-primary mb-3">
                <div class="card-header">Filtros</div>
                <div class="card-body text-primary">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-3">
                                <label for="ano_anterior" class="text-secondary">Ano anterior</label>
                            </div>
                            <div class="col-3">
                                <label for="mes_anterior" class="text-secondary">Mês anterior</label>
                            </div>
                            <div class="col-3">
                                <label for="ano_atual" class="text-secondary">Ano atual</label>
                            </div>
                            <div class="col-3">
                                <label for="mes_atual" class="text-secondary">Mês atual</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <select name="ano_anterior" id="ano_anterior" class="form-control" onchange="SelectFiltroAnterior()">
                                        <option value="" selected>Selecione</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <select name="mes_anterior" id="mes_anterior" class="form-control" onchange="SelectFiltroAnterior()">
                                        <option value="" selected>Selecione</option>
                                        <option value="1">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                        <option value="4">04</option>
                                        <option value="5">05</option>
                                        <option value="6">06</option>
                                        <option value="7">07</option>
                                        <option value="8">08</option>
                                        <option value="9">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <select name="ano_atual" id="ano_atual" class="form-control" onchange="SelectFiltroAtual()">
                                        <option value="" selected>Selecione</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <select name="mes_atual" id="mes_atual" class="form-control" onchange="SelectFiltroAtual()">
                                        <option value="" selected>Selecione</option>
                                        <option value="1">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                        <option value="4">04</option>
                                        <option value="5">05</option>
                                        <option value="6">06</option>
                                        <option value="7">07</option>
                                        <option value="8">08</option>
                                        <option value="9">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                       
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- GRAFICO DE PIZZA -->
    <div class="row justify-content-center">
        <h4>Gráfico de produtos</h4>
    </div>
    <hr>

    <div class="row justify-content-center" style="margin-bottom: 20px;">
        <div class="col-6 linha-vertical">
            <canvas id="ChartProdutosAnterior" width="50px" height="50px"></canvas>
        </div>
        <div class="col-6">
            <canvas id="ChartProdutosAtual"></canvas>
        </div>
    </div>


{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var dataset = [];
        var backgroundColor = [];
        var label = [];

        var meses_texto = {
            1: 'Jan',
            2: 'Fev',
            3: 'Mar',
            4: 'Abr',
            5: 'Maio',
            6: 'Jun',
            7: 'Jul',
            8: 'Ago',
            9: 'Set',
            10: 'Out',
            11: 'Nov',
            12: 'Dez',
        }

        function SelectFiltroAnterior(){
            var ano = document.getElementById('ano_anterior').value;
            var mes = document.getElementById('mes_anterior').value;
            dataset = [];
            label = [];
            backgroundColor = [];
            MontaDadosPizza(ano, mes);
            MontaGraficoPizza('ChartProdutosAnterior');
        }

        function SelectFiltroAtual(){
            var ano = document.getElementById('ano_atual').value;
            var mes = document.getElementById('mes_atual').value;
            dataset = [];
            label = [];
            backgroundColor = [];
            MontaDadosPizza(ano, mes);
            MontaGraficoPizza('ChartProdutosAtual');
        }

        function MontaDadosPizza(ano, mes){
            $.ajax({
                type: 'POST',
                url: "{% url 'dash_comp_pizza' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'ano': ano,
                    'mes': mes,
                },
                success: function (data){               
                    data.map( result => {
                        var cor01 = Math.floor(Math.random() * 255);
                        var cor02 = Math.floor(Math.random() * 255);
                        var cor03 = Math.floor(Math.random() * 255);
                        var cor = `rgb(${cor01}, ${cor02}, ${cor03})`;
                        
                        label.push(result[0]);
                        dataset.push(result[1]);
                        backgroundColor.push(cor);
                    });  
                }
            });
        }

        async function MontaGraficoPizza(grafico){
            var ctx01 = document.getElementById(grafico).getContext('2d');          
            var chart01 = await new Chart(ctx01, {
                type: 'pie',
                data: {
                    labels: label,
                    datasets: [
                        {
                            "label": "DataSets",
                            "data": dataset,
                            "backgroundColor": backgroundColor
                        }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Volume por produto'
                    },
                    responsive: true
                }
            });
        }
        
    </script>
{% endblock %}