{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Relatórios{% endblock %}
{% block navbar %}Relatório - Histórico{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}
{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card border-primary mb-3">
                <div class="card-header">Filtros</div>
                <div class="card-body text-primary">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="ano" class="text-secondary">Ano</label>
                                    <select name="ano" id="ano" class="form-control" onchange="SelectFiltro()">
                                        <option value="" select>Selecione</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="produto" class="text-secondary">Produto</label>
                                    <select name="produto" id="produto" class="form-control" onchange="SelectFiltro()">
                                        <option value="" select>Selecione</option>
                                        {% for produto in produtos %}
                                            <option value="{{ produto.id }}">{{ produto.descricao }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <canvas id="myChart"></canvas>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            SelectFiltro();
        });

        var meses = [];
        var valores = [];
        var datasets = [];

        var meses_texto = {
            1: 'Jan',
            2: 'Fev',
            3: 'Mar',
            4: 'Abr',
            5: 'Maio',
            6: 'Jun',
            7: 'Jul',
            8: 'Ago',
            9: 'Set',
            10: 'Out',
            11: 'Nov',
            12: 'Dez',
        }

        function SelectFiltro(){
            var ano = document.getElementById('ano').value;
            var id_produto = document.getElementById('produto').value;
            meses = [];
            valores = [];
            datasets = [];
            BuscaReport(ano, id_produto);
        }
        
        const distinct = (value, index, self) => {
            return self.indexOf(value) === index;
        }

        function BuscaReport(ano, id_produto) {
            $.ajax({
                type: 'POST',
                url: "{% url 'dash_hist' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'ano': ano,
                    'id_produto': id_produto,
                },
                success: function (data){
                    data.map( result => {
                        var cor01 = Math.floor(Math.random() * 255);
                        var cor02 = Math.floor(Math.random() * 255);
                        var cor03 = Math.floor(Math.random() * 255);
                        var cor = `rgb(${cor01}, ${cor02}, ${cor03})`;

                        if (datasets.length === 0) {
                            datasets.push({
                                label: result[2],
                                type: "line",
                                borderColor: cor,
                                fill: false,
                                data: [result[3]]
                            })
                        } else {
                            var index = -1;
                            var filteredObj = datasets.find(function(item, i){
                                if(item.label === result[2]){
                                    index = i;
                                    return i;
                                }
                            });
                            if (index != '-1'){
                                datasets[index].data.push(result[3]);
                            } else {
                                datasets.push({
                                    label: result[2],
                                    type: "line",
                                    borderColor: cor,
                                    fill: false,
                                    data: [result[3]]
                                })
                            }
                        }
                        meses.push(meses_texto[result[1]]); // MESES
                    });
                    meses = meses.filter(distinct);
                    AtualizaGraficoHistorico();
                }
            });
        }

        function AtualizaGraficoHistorico (){
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: meses,
                    datasets: datasets
                },

                // Configuration options go here
                options: {
                    title: {
                        display: true,
                        text: 'Qtde - Histórico por produto'
                    },
                    legend: {
                        display: true
                    }
                }
            });
        }

    </script>
{% endblock %}