{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Relatórios{% endblock %}
{% block navbar %}Relatórios{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}
{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    <ul class="menu-home">
        <li><a class="icon-relatorios" href="{% url 'reports_hist' %}">Histórico</a></li>
        <li><a class="icon-relatorios" href="{% url 'reports_comp' %}">Comparativo</a></li>
    </ul>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}