{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Inicio{% endblock %}
{% block navbar %}Inicio{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}
{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    <ul class="menu-home">
        <li><a class="icon-mesas" href="{% url 'mesa_list' %}">Mesas</a></li>
        <li><a class="icon-produtos" href="{% url 'produto_list' %}">Produtos</a></li>
        <li><a class="icon-relatorios" href="{% url 'reports' %}">Relatórios</a></li>
    </ul>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}
