{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Encerrar mesa{% endblock %}
{% block navbar %}Encerrar mesa{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}
{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    {% if mesa %}
        <strong>Responsável:</strong> {{ mesa.apelido }}

        {% comment %} LISTA PRODUTOS {% endcomment %}
        <table class="table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Produto</th>
                    <th scope="col" class="text-center">Quantidade</th>
                    <th scope="col" class="text-center">Valor Unidade</th>
                    <th scope="col" class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for produto_mesa in produtos_mesa %}
                    <tr scope="row">
                        <td class="text-center">{{ produto_mesa.3 }}</td>
                        <td class="text-center">{{ produto_mesa.4 }}</td>
                        <td class="text-center">{{ produto_mesa.5 }}</td>
                        <td class="text-center">{{ produto_mesa.6 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <div class="row justify-content-end">
            <div class="col-5">
                {% if total %}
                    <strong>Total:</strong><span class="text-lg-center"> R$ {{ total.0.2 }}</span>
                {% endif %}
            </div>
        </div>

        <br>
        <div class="row justify-content-center">
            <form action="#" method="post">{% csrf_token %}
                <input type="hidden" name="id_mesa" value="{{ mesa.id }}">
                <button type="submit" class="btn btn-danger">
                    Encerrar
                </button>
            </form>
        </div>

    {% else %}
        <br><div class="row justify-content-center">
            <h1>Algo aconteceu de errado!</h1>
        </div>
    {% endif %}
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}