{% extends 'template.html' %}
{% load static %}
{% load bootstrap4 %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Novo Produto{% endblock %}
{% block navbar %}Novo Produto{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}
{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                {% if erro %}
                    <br><div class="row justify-content-center">
                        <div class="alert alert-danger" role="alert">
                            {{ menssagem_erro }}
                        </div>
                    </div>
                {% endif %}

                {% if succes %}
                    <br><div class="row justify-content-center">
                        <div class="alert alert-success" role="alert">
                            {{ menssagem_succes }}
                        </div>
                    </div>
                {% endif %}

                <form action="." method="post">{% csrf_token %}
                    {% bootstrap_form form %}

                    {% buttons %}
                    <div class="row justify-content-center">
                        <input type="submit" class="btn btn-primary" value="Cadastrar">
                    </div>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}
