{% extends 'template.html' %}
{% load static %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Produtos{% endblock %}
{% block navbar %}Produtos{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}
{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}

    <div class="row">
        <div class="col-12">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Produto</th>
                        <th scope="col">Valor Unitário</th>
                        <th scope="col" class="text-center">
                            <a href="{% url 'produto_new' %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in object_list %}
                        <tr>
                            <td>{{ produto.descricao }}</td>
                            <td>{{ produto.valor_unid }}</td>
                            <td class="text-center">
                                <a class="icons-tbl-produtos" href="{% url 'produto_edit' produto.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a class="icons-tbl-produtos" href="{% url 'produto_dell' produto.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}
