{% extends 'template.html' %}
{% load static %}
{% comment %} {% load bootstrap4 %} {% endcomment %}

{% comment %} BLOCO DE TITULO DO SITE {% endcomment %}
{% block title %}Novo Produto{% endblock %}
{% block navbar %}Novo Produto{% endblock %}

{% comment %} BLOCO HEAD {% endcomment %}
{% block head %}
{% endblock %}

{% comment %} BLOCO DO CORPO DO HTML {% endcomment %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}

                <form action="." method="post">{% csrf_token %}
                    {{ form.as_p }}

                    {% comment %} {% buttons %} {% endcomment %}
                    <div class="row justify-content-center">
                        <input type="submit" class="btn btn-primary" value="Cadastrar">
                    </div>
                    {% comment %} {% endbuttons %} {% endcomment %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% comment %} BLOCO DE SCPRITS {% endcomment %}
{% block script %}
{% endblock %}
